.banner {
    background-color: #CC9996;
    height: 80vh; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Great Vibes', cursive;
    
}

h1{
    font-size:85px;
}
h3{
    margin-top:-10px ;
    font-size:25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.flower-image {
    width: 100%; 
    max-width: 100%; 
    height: 220px;
    margin-bottom: 10px;
 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 80px;
    
  
}


.flower-box {
    background-color: white;
    border: 1px solid #ddd;
 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    margin: 15px;
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 30px;
}

.flower-box button{

    margin-top:20px;
    background-color: #CC9996;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
    letter-spacing: 2px; 
    border: transparent;
    cursor: pointer;
    
}

.flower-box h3{
    font-size: 20px;
    text-align: center;
    line-height: 25.9px;
    padding-top:10px ;


}
.flower-box p{
    font-size: 15px;
    text-align: center;
}